/* ====================================================================================
Overall classes
=====================================================================================*/
* {
	margin: 0;
	padding: 0;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 30px; 
	z-index: 1;
}

body {
    background-image: url();
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;
    
    
}
a {
	text-decoration: none;
}
a:hover{
    color: #f95248;
    
}






/* ====================================================================================
Sections / Top
=====================================================================================*/

#top {	
        height: 130px;
	background-color: #fffffff;
}

#top p {
	padding-top: 0px;
        
}

.buttonanimator{
    opacity: 1.0;
    float: right;
   
    
}
.buttonanimator:hover{
    opacity: 0.5;
}

.socialButtons{
	height: 22px;
}


nav {
	position: absolute;
	top: 100px;
	width: 100%;
	height: 30px;
	background: #000000;

}
ul{
	margin-right: 200px;
	margin-left: 200px;
}
.mainNav {
	display: inline-block;
	padding-top: 4px;
	padding-bottom: 4px;
	
	padding-right: 5px;
}

nav li a {
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 0.7em;
	
}
.slash{
	font-size: 0.7em;
}


/* ====================================================================================
Sections /  About
=====================================================================================*/

#about {
	padding-top: 20px;
	background: #F5F5F5;
        height: 600px;
	padding-left: 200px;
	padding-right: 200px;
}


/* ====================================================================================
Sections /  News
=====================================================================================*/

#news {
	background: #F5F5F5;
        height: 600px;
	width: 100%;
	
}
.article{
	background-color: #e6e6e6;
	height: 200px;
	width: 380px;
	float: left;
	margin: 5px;
	padding: 0px;
	border: 0px;
}


}
/* ====================================================================================
Sections /  Work
=====================================================================================*/
#work {
	background: #ffffff;
        height: 600px;

}



/* ====================================================================================
Sections /  Contact
=====================================================================================*/
#contact {
	position: fixed;
	top: 175px;
	left: 500px;
	height: 475px;
	width: 375px;
	background: #ffffff;
        color: #bf5529;
        box-shadow: 0px 10px 20px #000000;
	
}
#x{
	color: #1f1f1f;
	background-color: transparent;
	font-size: 30px;
	color: #1f1f1f;
	margin-left: auto;
	margin-bottom: auto;
	position: fixed;
	top: 175px;
	left: 850px;
	z-index: 1030;
}
.messageBox{
    float: left;





/* ====================================================================================
Sections /   Bottom
=====================================================================================*/
#bottom{
   color: #808080;
    height: 40px;
    font-size: 12px;
    margin-bottom: 20px;
    padding-top: 20px;
}





/*=========================================================================
MOBILE
==========================================================================*/

@media only screen and (max-width: 520px) {

	nav li {
		padding: 0px;
	}

	nav li a {
		font-size: 14px;
	}

}