body {
  background-image: url(img/twoninePalms.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  font-size: 18px;
  background-color: #ccb98f;
  color: #666;
  margin: 0;
  width: 100%;
  height: 100%
}

img {
  display: block;
 }
 
.tie-fighter{
  margin-top: 15%;
  width: 90%;
}
.hpotter{
  width: 30%;
  margin-top: 20%;
  margin-left: 60%;
}

.backStars{
  background-image: url(img/testParallaxLayer.png);
  background-repeat: repeat;
  width: 120%;
  height: 120%;
  
}

.logo{
  padding-right: 50px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.aboutPara{
  margin-top: 20%;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  text-shadow: 5px 5px #3b3b3a;
  font-family: 'Arvo', serif;
  font-size: 2.5em;
  color: #faf6f0;"
}
.container {
  position: relative;
  width: 100%;
  
  margin: 0 auto;
  
}

.scene {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


.expand-width {
  width: 100%;
}




/*sdfgsdfgsdfg*/

#top {	
	
	position: absolute;
	z-index: 9999;
	width: 100%;
	top: 0px;
	margin: 0px;
	padding: 0px;
}

#top p {
	padding-top: 0px;
        
}

.buttonanimator{
	
	float: right;
	margin-left: 10px;
    
}
.mainNav:hover{
	opacity: 0.5;
}

.socialButtons{
	height: 22px;
	margin-left: 3px;
	margin-right: 3px;
}


nav {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 35px;
	background: #000000;
	text-align: center;

}
ul{
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	text-align: center;
}
.mainNav {
	opacity: 1.0;
	display: inline-block;
	padding-top: 4px;
	padding-right: 70px;
	padding-left: 70px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

nav li a {
	color: #f9ecd9;
	font-family: 'Arvo', serif;
	font-size: 1.1em;
        text-decoration: none;
	text-align: center;
}
a:hover{
  opacity: 0.6;
}

#contact {
	width: 100%;
	height: 400px;
	background: #1f1f1f;
        color: #bf5529;
	
}
.messageBox{
	background-color: #1f1f1f;
	text-align: center;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-top: 20px;
	margin-top: 241px;
	margin-left: 280px;
	margin-right: 280px;
	border: hidden;
	border-radius: 25px
}

.message-x{
  height: 80px;
}
.land-sky{
	position: fixed;
	top: 10px;
	height: 500px;
	width: 100%;
        margin: 0px;
}

.land-sky>img{
	height: 500px;
	width: 100%;
        margin: 0px;
}


.socialFooterLinks{
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 0px;
  padding-top: 30px;
  border: 0px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 5px;
  width: 100%;
}

.footerSocial{
   display: inline;
    width: 100%;
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;*/
   
}
.bottomButtons{
  height: 30px;
  display: inline;
  text-align: center;
  margin: 20px;
}